#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  margin-right: 16px;
  margin-left: 16px;
}
